.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #09d3ac;
}

.picture-size {
  width: 300px;
  height: 300px;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.carousel-enter {
  opacity: 0.01;
  transform: translateX(0vw);
  
}

.carousel-enter.carousel-enter-active {
  opacity: 1;
  transition:  1200ms ease-out;
  transform: translateX(0%);
}

.carousel-leave {
  opacity: 1;
  transform: translateX(0%);
}

.carousel-leave.carousel-leave-active {
  opacity: 0.01;
  transition: 1200ms ease-out;
  transform: translateX(0vw);
}

.el {
  position: relative;
}

.comp {
  position: absolute;
}